<!-- <hello name="{{ name }}"></hello> -->
<form [formGroup]="legalGroups">
  <button (click)="addLegalFormGroup()">Add</button>
  <div formArrayName="legalEntity">
    <div
      class="row"
      *ngFor="
        let leganEntity of legalGroups.get('legalEntity')['controls'];
        let in = index
      "
      [formGroupName]="in"
    >
      <input
        formControlName="name"
        placeholder="Name"
        (ngModelChange)="valuechange()"
      />

      <input
        formControlName="email"
        placeholder="Email"
        (ngModelChange)="valuechange()"
      />
      <input
        formControlName="contact"
        placeholder="Contact"
        (ngModelChange)="valuechange()"
      />
      <button (click)="removeLegalFormGroup(in)">Delete</button>
    </div>
  </div>
  <div formArrayName="newlegalEntity">
    <div
      class="row"
      *ngFor="
        let leganEntity of legalGroups.get('newlegalEntity')['controls'];
        let i = index
      "
      [formGroupName]="i"
    >
      <input formControlName="name" placeholder="Name" />

      <input formControlName="email" placeholder="Email" />
      <input formControlName="contact" placeholder="Contact" />
      <button (click)="removeLegalFormGroup(i)">Delete</button>
    </div>
  </div>
  <button (click)="submit()">Submit</button>
</form>
