<!-- <hello name="{{ name }}"></hello> -->
<form [formGroup]="legalGroups">
  <button (click)="addLegalFormGroup()">Add</button>
  <div formArrayName="legalEntity">
    <div
      class="row"
      *ngFor="
        let leganEntity of legalGroups.get('legalEntity')['controls'];
        let in = index
      "
      [formGroupName]="in"
    >
      <input
        formControlName="name"
        placeholder="Name"
        (ngModelChange)="valueChange()"
      />

      <input
        formControlName="email"
        placeholder="Email"
        (ngModelChange)="valueChange()"
      />
      <input
        formControlName="contact"
        placeholder="Contact"
        (ngModelChange)="valueChange()"
      />
      <button (click)="removegetLegalFormGroup(in)">Delete</button>
    </div>
  </div>
  <div formArrayName="newlegalEntity">
    <!-- <div
      class="row"
      *ngFor="
        let newleganEntity of legalGroups.get('newlegalEntity')['controls'];
        let i = index
      "
      [formGroupName]="i"
    > -->

    <div
      class="row"
      *ngFor="let formcontrols of formRef.controls; let i = index"
      [formGroupName]="i"
    >
      <input formControlName="name" placeholder="Name" />
      <div
        *ngIf="
          formcontrols.get('name').invalid &&
          (formcontrols.get('name').touched || formcontrols.get('name').dirty)
        "
      >
        <div *ngIf="formcontrols.get('name').errors?.required">
          Name Required.
        </div>
        <div *ngIf="formcontrols.get('name').errors?.minlength">
          Name must be at least 5 characters long.
        </div>
      </div>

      <input formControlName="email" placeholder="Email" />
      <input formControlName="contact" placeholder="Contact" />

      <!-- <p>{{ i + this.newIndex + newformLength }}</p> -->
      <button *ngIf="i > 0" (click)="removeLegalFormGroup(i)">Delete</button>
    </div>
  </div>
  <button (click)="submit()">Submit</button>
</form>
